{% load static %}

<div class="modal" id="edit-profile-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
              <div class="modal-header">
                <h5 id="edit-profile-modal-title" class="modal-title">"Edit your profile"</h5>
                <button type="button" class="close" onclick="closeEditProfileModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="edit-profile-modal-body">
                <form enctype="multipart/form-data" id="editProfileForm" method="POST" {% if request.user_agent.is_mobile %} style="text-align:left" {% else %}class="ml-5 mr-5" {% endif %}>
                    {% csrf_token %}
                    <div class="col-md-6">
                        <label for="validationCustom02" class="yellow-text form-label">First name</label>
                        <input name="first_name" pattern="[a-zA-Z\s]{1,}" type="text" class="form-control" id="validationCustom02" value='{{user.first_name}}' required>
                    </div>

                    <div class="col-md-6">
                        <label for="validationCustom02" class="yellow-text form-label">Last name</label>
                        <input name="last_name" pattern="[a-zA-Z\s]{1,}" type="text" class="form-control" id="validationCustom02" value='{{user.last_name}}' required>
                    </div>

                    <div class="row">
                        <div class="form-group mb-3 col-12">
                            <label for="pictures" class="form-label yellow-text">Pictures <br> (it will change your current profile picture)</label>
                            <input class="form-control" id="editPictures" type="file" name="profile_picture" accept="image/png, image/jpg, image/gif, image/jpeg">
                        </div>
                    </div>
                    <label for="tagInputs" class="form-label col-2 yellow-text">Tags</label>
                    <div id="addTag" class="center col-1 btn btn-outline-warning" onclick="addNewTagField('user')">
                        +
                    </div>
                    <div id="userTagInputs" class="row col-12 my-2">
                        <div class="row" id="userTag0Row">
                            <div class="form-group col-9">
                                <input class="tagInput center form-control" id="userTag0" type="text" name="userTag" placeholder="Enter a tag...">
                            </div>
                        </div>
                    </div>
                    {%for tag in user.tags.all %}
                    <div id="{{forloop.counter0}}userTagRow" class="row col-12 my-2">
                        <div class="row" id="userTag0Row">
                            <div class="form-group col-9">
                                <input class="tagInput center form-control" id="{{forloop.counter0}}userTag" type="text" name="{{forloop.counter0}}userTag" placeholder="Enter a tag..." value="{{tag.name}}">
                            </div>
                            <div id="deleteTag" class="center ml-1 col-1 btn btn-outline-danger" onclick="deleteTagField({tagRow: '{{forloop.counter0}}userTagRow'})">
                                x
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="col-md-6">
                        <label class="yellow-text form-label">Gender</label>
                        <div class="form-check">
                            <input value="F" type="radio" class="form-check-input" id="validationFormCheck1" name="gender" required {%if user.gender == "F"%} checked {%endif%}>
                            <label class="form-check-label yellow-text" for="validationFormCheck1">Female</label>
                        </div>
                        <div class="form-check">
                            <input value="M" type="radio" class="form-check-input" id="validationFormCheck2" name="gender" required {%if user.gender == "M"%} checked {%endif%}>
                            <label class="form-check-label yellow-text" for="validationFormCheck2">Male</label>
                        </div>
                        <div class="form-check mb-3">
                            <input value="O" type="radio" class="form-check-input" id="validationFormCheck3" name="gender" required {%if user.gender == "O"%} checked {%endif%}>
                            <label class="form-check-label yellow-text" for="validationFormCheck3">Other</label>
                            <div class="invalid-feedback">Please select something.</div>
                        </div>
                        <span class="text-danger">{{form.errors.gender}}</span>
                    </div>

                    <div class="col-md-8">
                        <label for="validationCustomDate" class="yellow-text form-label">Birth date</label>
                         <input name="birthdate" type="date" class="form-control" id="validationCustomDate" value='{{user.birthdate_input}}' required>
                    </div>
                    <div class="text-center mt-5">
                        <button class="submit-button btn yellow-bg text-light" type="submit">
                            Publish
                        </button>
                    </div>



                </form>
              </div>
              <div class="modal-footer" id="edit-profile-modal-footer">
              </div>
        </div>
    </div>
</div>