{% extends "navbar.html" %}
{% load static %}
{% block extrahead %}

{% comment %}

Variables used:

-userprofilepicture
-username
-userid
-fn
-ln
-nbfollowers
-nbfollows
-membersince
-self (bool = true when page is self profile)

{% endcomment %}

<!-- CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" href="{% static 'css/singlepostpage.css' %}">

{% endblock %}
{% block content %}
{%comment %}
TODO Edit Information
TODO Albums
{%endcomment%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5">
            <div class="row">
                <div class="my-3 py-3 card">
                    <div class="row" >
                        <div class="col-6">
                            {% if user.profile_picture %}
                                <img class="rounded-image" width=100% src={{user.profile_picture.url}}>
                            {% else %}
                                <img class="rounded-image" width=100% src={% static 'img/profile_default.jpg'%}>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <h3 class="yellow-darker-text">{{user.username}}</h3>
                            <h6 class="yellow-darker-text">{{user.first_name}} {{user.last_name}}</h6>
                            <p class="yellow-darker-text">
                                Member since
                                <br>
                                {{user.date_joined}}
                                <br>
                                <br>
                                <a class="yellow-link" onclick="openLikeShareModal({ baseUrl: '{% url 'users:api:get_users' %}', modalType: 'followers', id: '{{user.id}}', username: '{{user.username}}'})" href="javascript:void(0);">{{followers.count}} follower{% if followers.count > 1 %}s{% endif %}</a>
                                <br>
                                <a class="yellow-link" onclick="openLikeShareModal({ baseUrl: '{% url 'users:api:get_users' %}', modalType: 'following', id: '{{user.id}}', username: '{{user.username}}'})" href="javascript:void(0);">{{user.followers.all.count}} follow{% if user.followers.all.count > 1 %}s{% endif %}</a>
                                <br>
                            </p>
                            {% if user == request.user %}
                            <button class="center btn btn-outline-warning" type="submit">Edit profile</button>
                            {% else %}
                            <button class="center btn btn-outline-warning" type="submit">Follow</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card p-0">
                    <div class="card-header d-block d-md-none border-bottom-0">
                        <h2>
                            <button id="albumButton" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <i id="caret-icon" class="bi bi-caret-down"></i> Albums
                            </button>
                        </h2>
                    </div>
    
                    <div class="collapse dont-collapse-sm show" id="collapseExample">
                        <div class="card-body">
                            <p class="yellow-darker-text center m-0">
                                {{user.username}}'s Albums
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-12 col-md-7">
            <div class="card mt-4 p-1 bg-grey text-center">
                <h1 class="yellow-text">
                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                    Road Map
                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                    </h1>
                <div class="map" id="roadMap"></div>
            </div>

            {% if user == request.user %}
                {% include "posts/post_button.html" %}
            {% endif %}
            <div id="posts">
            </div>
            {% include "posts/post_modal.html" %}
            {% include "posts/likes_shares_modal.html" %}
         </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{% include "posts/post.html" %}
<script src="{% static 'js/postModal.js'%}"></script>
<script>
    $("#profileButton").removeClass("yellow-text")
    $("#profileButton").addClass("blue-text")

    function initRoadMap(){
        /*
            Inits the road map by centering in in Center Europe
            with the min zoom level
        */
        var center = {
            lat: 50.378472,
            lng: 14.970598
        }
        // The map, centered at Lessines
        var map = new google.maps.Map(
            document.getElementById("roadMap"),
            {
                zoom: 1,
                center: center,
                disableDefaultUI: true,
            }
        );
        return map
    }
    function addToMap(map, post) {
        /*
            Creates a map for a post with the post location marked on the map
            By clicking on the marker, the pre-saved name of the location is shown
        */
        var position = {
            lat: parseFloat(post.location.lat),
            lng: parseFloat(post.location.lng)
        }
        var marker = new google.maps.Marker({
            id: post.id,
            position: position,
            title: post.location.name,
            map: map,
        })

        var infoWindow = new google.maps.InfoWindow();
        marker.addListener("click", () => {
            map.setZoom(5)
            map.panTo(marker.getPosition())
            infoWindow.close();
            var images_html = ""
            for (var image of post.images){
                images_html += `<img class="post-img" src=${image.image}>`
            }
            images_html += ""
            const weather_id = `weather${post.location.id}`
            const contentString =`
                <div class="container" id="content">
                    <div class="row">
                        <div class="col-8">
                            Current Weather
                            <div id="${weather_id}"></div>
                        </div>
                        <div class="col-4">
                            posted ${post.time_ago}
                        </div>
                    </div>
                    <div class="row">
                        <h3 id="firstHeading" class="blue-text firstHeading">${marker.getTitle()}</h3>
                    </div>

                    <div id="bodyContent">
                        <p class="text-justify yellow-darker-text">${post.content}</p>
                        ${images_html}
                    </div>
                </div>
                `
            infoWindow.setContent(contentString);
            set_weather(position.lat, position.lng, weather_id);
            infoWindow.open(marker.getMap(), marker);
          });
    }
    function user_posts(map){
        $.getJSON({
            url: `{% url 'feeds:api:feed' %}?type=User&id={{user.id}}`,
            success: function(data){
                $("#posts").empty()
                for (var post of data){
                    add_post(post, true)
                }

            }
        })
    }
    function setRoadMap(map){
        /*
            Sets the markers on the roadmap
            Use of a different function because user_posts will be paginated
            but on the roadmap we want all the locations
        */
        var url = "{% url 'users:api:road_map' %}?user-id={{user.id}}"
        $.getJSON({
            url:url,
            success: function(data){
                for (var post of data){
                    addToMap(map, post)
                }
            }
        })
    }
    $( document ).ready(function(){
        var map = initRoadMap()
        user_posts()
        setRoadMap(map)
    });
</script>
<script>
    $('#albumButton').click(function(){
            if ($('#caret-icon').hasClass("bi-caret-down")) {
                $('#caret-icon').removeClass("bi-caret-down").addClass("bi-caret-up")
            } else {
                $('#caret-icon').removeClass("bi-caret-up").addClass("bi-caret-down")
            }
    });
</script>

{% endblock %}