{% extends "navbar.html" %}
{% load static %}

{% comment %}
Variables used:

-filters (for the type of posts to query)

{% endcomment %}

{% block extrahead %}

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/singlePostPage.css' %}">

<!-- CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12">

            {% include "posts/postButton.html" %}

            <div class="feeds-buttons row justify-content-center">
                <a id="ForYou" href="javascript:void(0);" class="feed col-4 text-center yellow-text"><h4> #For you</h4></a>
                <a id="Explore" href="javascript:void(0);" class="feed col-4 text-center yellow-text"><h4> #Explore</h4></a>
                <a id="Followers" href="javascript:void(0);" class="feed col-4 text-center yellow-text"><h4> #Followers</h4></a>
            </div>
            <div id="posts">
            </div>

         </div>
    </div>
</div>
{% include "posts/likesSharesModal.html" %}
{% include "posts/postModal.html" %}

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/postModal.js'%}"></script>
<script src="{% static 'js/addTagInput.js'%}"></script>
<script src="{% static 'js/feed.js'%}"></script>
{%include 'posts/post.html'%}
{%endblock %}