{% extends "base.html" %}
{% load static %}

{% comment %}
Variables used:

-filters (for the type of posts to query)

{% endcomment %}

{% block extrahead %}

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/singlepostpage.css' %}">

<!-- CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-xs-12">

            <div class="card mt-4 mb-5 bg-grey">
                <div class="d-flex justify-content-between p-3 px-3">
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn yellow-bg text-light p-3 px-5"> Post Your Trip <i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>

                </div>
            </div>

            <div class="feeds-buttons row justify-content-center">
                <a href="{% url 'feeds:front_feed'%}?type=ForYou" class="col-4 text-center {% if feed == 'ForYou' %}blue-text {%else%}yellow-text{%endif %}"><h4> #For you</h4></a>
                <a href="{% url 'feeds:front_feed'%}?type=Explore" class="col-4 text-center {% if feed == 'Explore' %}blue-text {%else%}yellow-text{%endif %}"><h4> #Explore</h4></a>
                <a href="{% url 'feeds:front_feed'%}?type=Followers" class="col-4 text-center {% if feed == 'Followers' %}blue-text {%else%}yellow-text{%endif %}"><h4> #Friends</h4></a>
            </div>
            {% for post in posts%}
                <div class="post-li">
                    {% include 'posts/post.html' with post=post%}
                </div>
            {%endfor%}
         </div>
    </div>
</div>
{% include "posts/likes_shares_modal.html" %}

{% endblock %}