{% if messages %}
    <div class="container">
        {% for message in messages %}
            <div
                {% if message.tags %}
                    {% if message.tags == "error" %}
                    class="alert alert-danger"
                    {% else %}
                    class="alert alert-{{ message.tags }}"
                    {% endif %}
                {% endif %}
            >
                {{ message |safe }}
            </div>
        {% endfor %}
    </div>
{% endif %}