{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light bg-light p-2">
    <div class="container">
        <div class="row center col-6 col-md-3">
            <a style="font-size:2em" class="row yellow-link center" href="{% url 'feeds:front_feed'%}">
                {%comment%}
                TODO put an svg logo here
                {%endcomment%}
                <p class="col-10 col-md-12 col-lg-10 center m-0 p-0">WERUBIN</p>
                <i class="col-2 col-md-12 col-lg-2 center fa fa-home" aria-hidden="true"></i>
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="row center">
                <div class="navbar-nav center col-12 col-md-3 order-md-2">
                    <a class="row center yellow-text" href="{% url 'users:profile' request.user.username %}">
                        <i class="center fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                        <p class="center">Your profile</p>
                    </a>

                </div>

                <form class="center form-inline col-12 col-md-9 order-md-1 px-0">
                    <div class="row center mx-1">
                        {%comment%}
                        TODO autocomplete search of tag and username
                        {%endcomment%}
                        <input class="col-12 col-md-8 m-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="center btn btn-outline-warning" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </nav>
  <script>
    function set_weather(lat, lng, id){
        var API_KEY = "f0fa13a5da8dfa0b1453c158f18d0824";
        var target = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lng}&units=metric&appid=${API_KEY}`;
        var output = ""
        $.getJSON(target, function(fc) {
            output += "<img src='http://openweathermap.org/img/wn/" + fc.weather[0].icon + ".png'><br/>";
            output += fc.main.temp_min + "&deg;C to " + fc.main.temp_max + "&deg;C";
            $(`#${id}`).html(output)
        });
    }

  </script>
  {%endblock%}
