.yellow-text {
    color:#FFBA34
}

.yellow-darker-text {
    color:#764e00
}

.blue-text {
    color:#249EA0
}

.yellow-bg{
    background:#FFBA34 !important
}

a{
    text-decoration: None;
}
a:hover{
    text-decoration: underline;
}

.yellow-link{
    text-decoration: None;
    color:#FFBA34;
}

.yellow-link:hover{
    color:#e19600;
}

.blue-text{
    color: #249EA0
}