body {
    overflow-x: hidden
}

.werubin-logo {
    font-size:2em
}

.yellow-text {
    color:#FFBA34
}

.yellow-darker-text {
    color:#764e00
}

.blue-text {
    color:#249EA0
}

.yellow-bg{
    background:#FFBA34 !important
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color:#14c4c7 !important
}

.yellow-link{
    text-decoration: None;
    color:#FFBA34;
}

.blue-text{
    color: #249EA0
}

.bg-grey{
    background: #f8f9fa !important;
}

.map {
    height: 20vh;
}

.rounded-image {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .align-self-center {
    text-align: center;
}

.left {
    display: flex !important;
    justify-content: left;
    align-self: center;
}

.right {
    display: flex !important;
    justify-content: right;
    align-self: center;
}

.center {
    display: flex !important;
    justify-content: center;
    align-self: center;
}

@media (max-width:768px) {
    nav form button {
        height: 40px;
        width: 100% !important
    }
}

@media (min-width:768px) {
    nav form button {
        height: 40px;
        width: fit-content !important
    }
}

nav form input {
    height: 40px
}

.btn-outline-warning:hover {
    color: white !important;
}

.btn-outline-warning:active {
    color: #249EA0 !important;
}

.pac-container { z-index: 10000 !important; }

#searchBar {
    border-radius: .375rem;
}

/* Container holding the image and the text */
.album-container {
    position: relative;
    text-align: center;
    color: white;
}
  
/* Top right text */
.album-container .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album-container .check-mark {
    display: none;
    font-size: 2em;
    height:100%;
    width:100%;
    background-color: rgba(153, 255, 0, 0.5);
}

#delete-image-button {
    text-decoration: none;
}