{% extends "registration/users.html" %}
{% load static %}

{% block title %}Registration Page{% endblock title %}

{% block second_part %}

<div class="text-center {% if not request.user_agent.is_mobile %} mb-5 mt-5 {%endif%}">
    <i class="bi bi-person-fill yellow-text"></i>
    <h1 class="right-column-title yellow-text">REGISTRATION</h1>
</div>
<form method="POST" {% if request.user_agent.is_mobile %} style="text-align:left" {% else %}class="ml-5 mr-5" {% endif %}>
    {% csrf_token %}
    <div class="row">
        {% comment %}
        https://stackoverflow.com/questions/2236691/how-do-i-display-the-value-of-a-django-form-field-in-a-template
        {% endcomment %}
        <div class="form-group mb-3 col-md-6">
            <label for="id_username" class="form-label yellow-text">Username* </label>
            <input class="form-control {% if form.errors.username %} border border-danger {% endif %}" id="id_username" type="text" name="username"  placeholder="@zoroxat" value="{{form.username.value|default_if_none:''}}" required>
            <span class="text-danger">{{form.errors.username}}</span>
        </div>
        <div class="form-group mb-3 col-md-6">
            <label for="id_username" class="form-label yellow-text">@E-mail*</label>
            <input class="form-control {% if form.errors.email %} border border-danger {% endif %}" id="id_username" type="email" name="email" value="{{form.email.value|default_if_none:''}}" required>
            <span class="text-danger">{{form.errors.email}}</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-md-6">
            <label for="firstname" class="form-label yellow-text">Firstname*</label>
            <input class="form-control {% if form.errors.first_name %} border border-danger {% endif %}" id="firstname" type="text" name="first_name" value="{{form.first_name.value|default_if_none:''}}" required>
            <span class="text-danger">{{form.errors.first_name}}</span>
        </div>
        <div class="form-group mb-3 col-md-6">
            <label for="lastname" class="form-label yellow-text">Lastname*</label>
            <input class="form-control {% if form.errors.last_name %} border border-danger {% endif %}" id="lastname" type="text" name="last_name"  value="{{form.last_name.value|default_if_none:''}}"required>
            <span class="text-danger">{{form.errors.last_name}}</span>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0px">
        <fieldset class='yellow-text form-group mb-3 col-md-6' required>
            <legend>Gender*</legend>

            <div>
            <input type="radio" id="Male" name="gender" value="M"
            {% if form.gender.value == 'M' or not form.gender.value  %} checked {% endif %}>
            <label for="Male">Male</label>
            <br>
            <input type="radio" id="Female" name="gender" value="F"
            {% if form.gender.value == 'F' %} checked {% endif %}>
            <label for="Female">Female</label>
            </div>

            <div>
            <input type="radio" id="Other" name="gender" value="O"
            {% if form.gender.value == 'O' %} checked {% endif %}>
            <label for="Other">Other</label>
            </div>
        </fieldset>
        <div class="form-group mb-3 col-md-6">
            <span class="text-danger">{{form.errors.gender}}</span>
            <label for="datepicker" class="form-label yellow-text {% if form.errors.birthdate %} border border-danger {% endif %}"><i class="bi bi-calendar yellow-text"></i> Birthdate*</label>
            <input class="form-control" type="date" id="datepicker" name="birthdate" value="{{form.birthdate.value|default_if_none:''}}" required>
            <span class="text-danger">{{form.errors.birthdate}}</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-md-6">
            <label for="id_password" class="form-label yellow-text">Password*</label>
            <input class="form-control {% if form.errors.password1 %} border border-danger {% endif %}" id="id_password" type="password" name="password1" required>
            <span class="text-danger">{{form.errors.password1}}</span>
        </div>
        <div class="form-group mb-3 col-md-6">
            <label for="conf_password" class="form-label yellow-text">Confirm Password*</label>
            <input class="form-control {% if form.errors.password2 %} border border-danger {% endif %}" id="conf_password" type="password" name="password2" required>
            <span class="text-danger">{{form.errors.password2}}</span>
        </div>
    </div>
    <div class="text-center mt-5">
        <a href="{% url 'users:login' %}">
            <button class="submit-button btn yellow-bg text-light" type="submit">
                REGISTER
            </button>
        </a>
    </div>
    <div class="text-center mt-5">
        <a class="yellow-text" href="{% url 'users:login' %}">
            I already have an account
        </a>
    </div>

</form>

{% endblock %}