{% extends "registration/users.html" %}
{% load static %}

{% block title %}Registration Page{% endblock title %}

{% block second_part %}


<div class="text-center {% if not request.user_agent.is_mobile %} mb-5 mt-5 {%endif%}">
    <i class="bi bi-person-fill yellow-text"></i>
    <h1 class="right-column-title yellow-text">REGISTRATION</h1>
</div>
<form action="{% url 'users:register'%}" method="POST" class="row g-3 needs-validation" novalidate>
    {% csrf_token %}
    <div class="col-md-6">
        <label for="validationCustomUsername" class="yellow-text form-label">Username</label>
        <input onkeyup="userNameKeyPressed()" name="username" pattern="[a-zA-Z0-9][^-\s]{0,}" type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                value='{{form.username.value|default_if_none:"" }}' required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please choose a username using only letters and digits. If this is the case, this username is already taken.
        </div>
        <span class="text-danger">{{form.errors.username}}</span>
    </div>
    <div class="col-md-6">
        <label for="validationCustomEmail" class="yellow-text form-label">E-mail address</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input onkeyup="emailKeyPressed()" name="email" type="email" class="form-control" id="validationCustomEmail" aria-describedby="inputGroupPrepend"
                value='{{form.email.value|default_if_none:"" }}' required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid e-mail address.
            </div>
        </div>
        <div id='emailAlreadyTaken' class="text-danger">{{form.errors.email}}</div>
    </div>

    <div class="col-md-6">
        <label for="validationCustom01" class="yellow-text form-label">First name</label>
        <input name="first_name" pattern="[a-zA-Z\s]{1,}" type="text" class="form-control" id="validationCustom01" value='{{form.first_name.value|default_if_none:"" }}' required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please provide your first name using only use letters and spaces.
        </div>
        <span class="text-danger">{{form.errors.first_name}}</span>
    </div>
    <div class="col-md-6">
        <label for="validationCustom02" class="yellow-text form-label">Last name</label>
        <input name="last_name" pattern="[a-zA-Z\s]{1,}" type="text" class="form-control" id="validationCustom02" value='{{form.last_name.value|default_if_none:"" }}' required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please provide your last name only use letters and spaces.
        </div>
        <span class="text-danger">{{form.errors.last_name}}</span>
    </div>
    <div class="col-md-6">
        <label class="yellow-text form-label">Gender</label>
        <div class="form-check">
            <input value="F" type="radio" class="form-check-input" id="validationFormCheck1" name="gender" required>
            <label class="form-check-label yellow-text" for="validationFormCheck1">Female</label>
        </div>
        <div class="form-check">
            <input value="M" type="radio" class="form-check-input" id="validationFormCheck2" name="gender" required>
            <label class="form-check-label yellow-text" for="validationFormCheck2">Male</label>
        </div>
        <div class="form-check mb-3">
            <input value="O" type="radio" class="form-check-input" id="validationFormCheck3" name="gender" required>
            <label class="form-check-label yellow-text" for="validationFormCheck3">Other</label>
            <div class="invalid-feedback">Please select something.</div>
        </div>
        <span class="text-danger">{{form.errors.gender}}</span>
    </div>

    <div class="col-md-6">
        <label for="validationCustomDate" class="yellow-text form-label">Birth date</label>
        <input name="birthdate" type="date" class="form-control" id="validationCustomDate" value='{{form.birthdate.value|default_if_none:"" }}' required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please provide your birth date.
        </div>
        <span class="text-danger">{{form.errors.birthdate}}</span>
    </div>
    <div class="col-md-6">
        <label for="validationCustomPw1" class="yellow-text form-label">Password</label>
        <input onkeyup="comparePasswords()" class="form-control" name="password1" type="password" placeholder="Password" id="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please provide a password.
        </div>
        <span class="text-danger">{{form.errors.password1}}</span>
    </div>
    <div class="col-md-6">
        <label for="validationCustomPw2" class="yellow-text form-label">Confirm Password</label>
        <input onkeyup="comparePasswords()" class="form-control" name="password2" type="password" placeholder="Confirm Password" id="confirmPassword" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            The passwords have to match.
        </div>
        <span class="text-danger">{{form.errors.password2}}</span>
    </div>

    {% comment %}
    <label for="tagInputs" class="form-label yellow-text">Tags</label>
    <div id="tagInputs" class="row col-12">
        <div class="row">
            <div class="form-group col-10">
                <input class="tagInput center form-control" id="postTag1" type="text" name="postTag1" placeholder="Enter a tag..." required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter at least one tag.
                </div>
            </div>
            <div id="addTag" class="col-1 btn btn-outline-warning" onclick="addNewTagField()">
                +
            </div>
        </div>
    </div>
    {% endcomment %}

    <div class="text-center mt-5">
        <button class="submit-button yellow-bg text-light btn btn-primary" type="submit">REGISTER</button>
    </div>

</form>
<div class="text-center mt-5 mb-5">
    <a class="yellow-text" href="{% url 'users:login' %}">
        I already have an account
    </a>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/addTagInput.js'%}"></script>
<script src="{% static 'js/registration.js'%}"></script>
{% endblock %}