{% extends 'registration/users.html' %}
{% load static %}
{% block title %}Reset Password Page{% endblock title %}

{% block second_part %}

<div class="text-center {% if not request.user_agent.is_mobile %} mb-5 mt-5 {%endif%}" >
    <i class="bi bi-person-fill yellow-text"></i>
    <h1 class="right-column-title yellow-text">RESET PASSWORD</h1>
</div>
<form method="post" style="text-align:left">
    {%include 'message.html'%}
    {% csrf_token %}
    <div class="form-group mb-3">
        <label for="password1" class=" form-label yellow-text">New Password*</label>
        <input class="form-control" id="password1" type="password" name="new_password1" required>
        <span class="text-danger">{{form.errors.new_password1}}</span>
    </div>
    <div class="form-group mb-3">
        <label for="password2" class=" form-label yellow-text">Confirm Password*</label>
        <input class="form-control" id="password2" type="password" name="new_password2" required>
        <span class="text-danger">{{form.errors.new_password2}}</span>

    </div>
    <div class="text-center mt-5">
            <button
                class="resetpass-submit btn yellow-bg text-light"
                type="submit"
            >
                Send
            </button>
    </div>
</form>
{% endblock %}