{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/users.css'%}?v=1">
{% endblock %}

{% block content %}
    <section class="users-section text-center text-white masthead">
        <div class="row row-cols-1 row-cols-md-2 front">
            <div class="left-panel">
                <div class="thumbnail col order-first">
                </div>
                <div class="caption d-none d-md-block">
                    <h1 class="werubin-title yellow-text">Werubin</h1>
                    <h1 class="werubin-subtitle yellow-text">Connect By Traveling</h1>
                </div>
            </div>
            <div class="desktop-right-panel col text-start">
                <div class="container">
                    {% block second_part %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}