{% load static %}
<button type="button" class="btn btn-primary mb-3" id="locate-me">Current Location</button>
<input
    data-html="true"
    data-toggle="tooltip"
    data-placement="top"
    title="Pick an address in the given choices"
    class="text-center col-sm-6 col-md-6 col-lg-4 form-control"
    name="googleAddress"
    style="width : 100%;height: 3em"
    id="googleAutocomplete"
    placeholder="Where have you been ? 🌍"
    type="text"
    required
/>
<input class="form-control" name='lat' id='lat' type="hidden" required/>
<input class="form-control" name='lng' id='lng' type="hidden" required/>
<span id="addressMissingElements" class="text-danger"></span>
{%block extra_js%}
<script src="{% static 'js/googleSearch.js'%}"></script>
{%endblock%}