{% load static %}
{% comment %}
Variables used:

-username
-profilepicture
-commenttext
-commenttime

{% endcomment %}
    <div class="d-flex flex-row mb-2"> <img src="{{comment.author.profile_picture.url}}" class="rounded-image">
        <div class="d-flex flex-column ml-2">
            <span class="name"><a href="#"class="yellow-link"><u>{{comment.author.username}}</u></a></span>
            <small class="comment-text yellow-darker-text">{{comment.content}}</small>
            <div class="d-flex flex-row align-items-center status yellow-text">
                <small><a href="#"class="yellow-link"><i class="bi bi-hand-thumbs-up-fill"></i> Like</a></small>
                {%comment%}
                <small><a href="#"class="yellow-link"><i class="bi bi-chat-dots-fill"></i> Comment</a></small>
                {%endcomment%}
                <small class="yellow-darker-text">{{comment.time_ago}}</small>
            </div>
        </div>
    </div>
