{% load static %}

<div class="modal" id="likes-shares-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
              <div class="modal-header">
                <h5 id="likes-shares-modal-title" class="modal-title"></h5>
                <button type="button" class="close" onclick="closeLikeShareModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="likes-shares-modal-body" >
              </div>
              <div class="modal-footer" id="likes-shares-modal-footer">
              </div>
        </div>
    </div>
</div>

<script>
    function closeLikeShareModal(){
        $("#likes-shares-modal").modal('hide');
    }

    function openLikeShareModal({ baseUrl, modalType, id, username }) {
        let modalTitle;
        let url = baseUrl;

        switch (modalType) {
            case "shared":
                modalTitle = "Shared by"
                url += "?type=shared&id=" + id
                break;
            case "liked":
                modalTitle = "Liked by"
                url += "?type=liked&id=" + id
                break;
            case "following":
                modalTitle = "Users following " + username
                url += "?type=following&id=" + id
                break;
            case "followers":
                modalTitle = "Users " + username + " follows"
                url += "?type=followers&id=" + id
                break;
            default:
                console.log("woops")
                break;
        }

        $.get({
              url: url
            , success: function(data) {
                toggleLikeShareModal({ modalTitle: modalTitle, modalType: modalType, data: data })
            }
        })
    }

    function toggleLikeShareModal({ modalTitle, modal_type, data }){
        let output = ""

        for (user of data) {
            let picture = user.profile_picture ? user.profile_picture : "{% static 'img/profile_default.jpg' %}"
            let followed = "notFollowed" // user.followers.contains un truc du genre
            let userID = "likes-shares-modal-user-button-" + user.username

            output += `
                <div class="row justify-content-around">
                    <div class="col-2">
                        <img src=${picture} height=50px width=50px class="rounded-image">
                    </div>
                    <div class="col-6 center">
                        <span>${user.first_name} ${user.last_name}</span>
                    </div>
                    <div class="col-2 center">
                        <button id="${userID}" class="followButton ${followed} btn btn-outline-warning" onClick="onFollowClick('${userID}')"> Follow</button>
                    </div>
                </div>
            `
        }
        if (data.length == 0) { output = `<p class="center">Nobody yet!</p>`}

        document.getElementById('likes-shares-modal-title').innerHTML = modalTitle
        document.getElementById('likes-shares-modal-body').innerHTML = output
        $("#likes-shares-modal").modal('show');
    }

    function onFollowClick(userID) {
        let u = document.getElementById(userID)
        
        if (u.classList.contains("notFollowed")) {
            u.classList.remove("notFollowed")
            u.classList.add("followed")
            u.innerHTML = "Unfollow"
        } else {
            u.classList.remove("followed")
            u.classList.add("notFollowed")
            u.innerHTML = "Follow"
        }
    }
</script>