{% load static %}

{% block content %}
{% include "posts/image_modal.html"%}
{% endblock %}

{% block extra_js %}
<script>
    function initMap(post) {
        /*
            Creates a map for a post with the post location marked on the map
            By clicking on the marker, the pre-saved name of the location is shown
        */
        var position = {
            lat: parseFloat(post.location.lat),
            lng: parseFloat(post.location.lng)
        }
        // The map, centered at Lessines
        var map = new google.maps.Map(
            document.getElementById("map"+post.id),
            {
                zoom: 12,
                center: position,
                disableDefaultUI: true,
            }
        );
        var infoWindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
            id: post.id,
            position: position,
            title: post.location.name,
            map: map,
        })

        marker.addListener("click", () => {
            map.setZoom(16)
            map.panTo(marker.getPosition())
            infoWindow.close();
            const weather_id = `postweather${post.location.id}`
            const contentString =`
            Current Weather
            <div id="${weather_id}"></div>
            <h5 id="firstHeading" class="blue-text firstHeading">${marker.getTitle()}</h5>
            `
            infoWindow.setContent(contentString);
            set_weather(position.lat, position.lng, weather_id);
            infoWindow.open(marker.getMap(), marker);
          });
    }

    function switch_image(post, go_next){
        const currentimage = $('#modal-img').attr('src')
        var current_index = 0
        for (var i=0; i<post.images.length; i++){
            if(post.images[i].image == currentimage){
                current_index = i
            }
        }
        if (go_next){
            current_index += 1
            if (current_index >= post.images.length)
                current_index = 0
        }
        else{
            current_index -= 1
            if (current_index < 0)
                current_index = post.images.length - 1
        }
    $('#modal-img').attr('src', post.images[current_index].image);
    }
    function open_images({post, imageurl}){
        $("#image-modal").modal("show");
        $("#prev-img").click(function(e){switch_image(post, false)})
        $("#next-img").click(function(e){switch_image(post, true)})

        $(`#image-modal`).keyup(function(event) {
            if (event.keyCode === 37) {  //left arrow
                $(`#prev-img`).click();
            }else if(event.keyCode === 39){
                $(`#next-img`).click();
            }
        });

        $(`#image-modal-body`).html(
            `<img id="modal-img" width=100% src=${imageurl}>`
        )
    }
    function add_post(post, append){  // if append is false, we prepend, all new post is prepended and all past posts are appended
        /*
            Adds a single post to the DOM
        */
        var picture  = post.author.profile_picture ? post.author.profile_picture: "{% static 'img/profile_default.jpg' %}"
        var description = post.shares.id ? `shared post <a id=sharedPostLink${post.id} href="/travels/post/${post.shares.id}">${post.shares.id}</a> from ${post.shares.author.username}`: `was in <b class="yellow-text"><u>${post.location.name}</u></b>`
        var tags_html = ""
        for( var tag of post.tags){
            tags_html += `<small><a href="{% url 'feeds:front_feed' %}?type=SingleTag&tag=${tag.name}" class="yellow-link">#${tag.name}</a></small>`
        }
        var location_html = post.location.lat != "" ? `<div class="map" id="map${post.id}"></div>`: ``
        var images_html = ""
        for (var image of post.images){
            images_html += `<img class='post-img' id="postimg${image.id}" src=${image.image}>`
        }
        var like_text = post.likes.length > 1 ? `${post.likes.length} likes`: `${post.likes.length} like`
        var comment_text = post.comments > 1?  `${post.comments} comments`: `${post.comments} comment`
        var share_text = post.was_shared.length > 1?  `${post.was_shared.length} shares`: `${post.was_shared.length} share`
        var like_color =  post.likes.includes({{request.user.id}}) ? 'blue-text':'yellow-link'
        var share_color =  post.was_shared.includes({{request.user.id}}) ? 'blue-text':'yellow-link'
        var post_html =`
        <div id="${post.id}postDiv" class="post-li">
            <div class="card bg-grey">
                <div class="d-flex justify-content-between p-2 px-3">
                    <div class="d-flex flex-row align-items-center">
                            <img src=${picture} width=50 height=50 class="rounded-image">
                        <div class="d-flex flex-column ml-2">
                            <span class="yellow-darker-text">
                                <b><a href="/users/profile/${post.author.username}"class="yellow-link"><u>${post.author.username}</u></a></b>
                                ${description}
                            </span>
                            ${tags_html}
                        </div>
                    </div>
                    <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2 yellow-darker-text">${post.time_ago}</small> <i class="fa fa-ellipsis-h"></i> </div>
                </div>
                    ${location_html}
                <div class="p-2">
                    <p class="text-justify yellow-darker-text">${post.content}</p>
                    ${images_html}
                    <hr>
                    <div class="row">
                        <div class="yellow-text col-3">
                            <a id="like-count${post.id}"class="yellow-link" onclick="openLikeShareModal({ baseUrl: '{% url 'users:api:get_users' %}', modalType: 'liked', id: '${post.id}', username: '${post.author.username}'})" href="javascript:void(0);">
                                ${like_text}
                            </a>

                        </div>
                        <div class="col-9 d-flex flex-row muted-color justify-content-end">
                            <span class="mr-2">
                                <a class="yellow-link"  href="javascript:void(0);" onclick="toggle_comment(${post.id})" role="button" aria-expanded="false" id="collapseCommentCount${post.id}">
                                    ${comment_text}
                                </a>
                            </span>
                            <span>
                                <a id="share-count${post.id}" class="yellow-link" onclick="openLikeShareModal({ baseUrl: '{% url 'users:api:get_users' %}', modalType: 'shared', id: '${post.id}', username: '${post.author.username}'})" href="javascript:void(0);">
                                    ${share_text}
                                </a>
                            </span>
                        </div>
                    </div>

                    <hr>

                    <div class="d-flex justify-content-between align-items-center yellow-text">
                        <div class="row media-buttons d-flex align-items-center text-center">
                            <span class="col">
                                <a id="like-button${post.id}" href="javascript:void(0);" onclick="like_post(${post.id})" class="col ${like_color}">
                                    <i class="bi bi-hand-thumbs-up-fill"></i>Like
                                </a>
                            </span>
                            <span class="col">
                                <a class="col yellow-link" role="button" aria-expanded="false" href="javascript:void(0)" onclick="toggle_comment(${post.id})" id="collapseCommentButton${post.id}">
                                    <i class="bi bi-chat-dots-fill"></i> Comment
                                </a>
                            </span>
                            <span class="col">
                                <a id="share-button${post.id}" href="javascript:void(0);" onclick="share_post(${post.id})" class="col ${share_color}">
                                    <i class="fa fa-share"></i>Share
                                </a>
                            </span>
                        </div>
                    </div>
                    <hr>

                    <div class="collapse" id="collapseComment${post.id}">
                        <div id="Comments${post.id}"></div>
                        <div class="comment-input">
                            <input id="comment-input${post.id}" type="text" class="form-control comment-input-box" maxlength="150" placeholder="max 150 characters.">
                            <div class="fonts"><a id="comment-push${post.id}" class="yellow-link" href="javascript:void(0);" onclick="send_comment(${post.id})"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>`

        // appending to DOM
        if (append)
            $("#posts").append(post_html)
        else{
            $("#posts").prepend(post_html)
            $(`#${post.id}postDiv`).hide().slideDown('slow')

        }

        // creating map
        if (post.location.lat != ""){
            initMap(post)
        }
        // enter key push on comment
        $(`#comment-input${post.id}`).keyup(function(event) {
            if (event.keyCode === 13) {  //enter button
                var button = $(this).attr("id").replace('input', 'push')
                $(`#${button}`).click();
            }
        });

        // img modal events
        for (var image of post.images){
            $(`#postimg${image.id}`).click(function(e){
                open_images({post: post, imageurl: $(this).attr('src')})
            })
        }


    }
    function like_post(postId){
        /*
            Toggle like on a post
            Sends the request to the backend and dynamically renders the frontend
        */
        var url = "{% url 'travels:api:toggle_like_post' %}"
        $.ajax({
            url: url,
            type: 'PUT',
            data: {
                "post-id": postId
            },
            headers: {
                'X-CSRFToken': '{{csrf_token}}'
            },
            success: function(data){
                var like_display_obj = $(`#like-count${postId}`)
                var like_button_obj = $(`#like-button${postId}`)
                var msg = ""
                var currentLikes = parseInt(like_display_obj.prop("innerText").trim().split(" ")[0])
                if (data["like-status"] == 1){  // the user liked the post
                    msg = currentLikes + 1
                    like_button_obj.removeClass("yellow-link").addClass("blue-text")
                }else{
                    msg = currentLikes - 1
                    like_button_obj.removeClass("blue-text").addClass("yellow-link")
                }

                if (currentLikes > 1)
                    msg += " likes"
                else
                    msg += " like"

                like_display_obj.text(msg)

            }
        })
    }
    function share_post(postId){
        /*
            Share a post by sending the request to the backend, gets the new shared post
            and renders it dynamically in the feed
        */
        if($(`#share-button${postId}`).hasClass('blue-text')){
            console.log("you have already shared this post")
            return
        }
        var url = "{% url 'travels:api:share_post' %}"
        $.ajax({
            url: url,
            type: 'PUT',
            data: {
                "post-id": postId
            },
            headers: {
                'X-CSRFToken': '{{csrf_token}}'
            },
            success: function(data){
                var share_display_obj = $(`#share-count${postId}`)
                var share_button_obj = $(`#share-button${postId}`)
                var msg = ""
                var currentShares = parseInt(share_display_obj.prop("innerText").trim().split(" ")[0])
                msg = currentShares + 1
                share_button_obj.removeClass("yellow-link").addClass("blue-text")

                if (currentShares > 1)
                    msg += " shares"
                else
                    msg += " share"

                share_display_obj.text(msg)
                add_post(data, false)


            }
        })
    }


    function add_comment(postId, comment){
        /*
            Add one row for one comment inside one post
        */
        var picture  = comment.author.profile_picture ? comment.author.profile_picture: "{% static 'img/profile_default.jpg' %}"
        var like_color =  comment.likes.includes({{request.user.id}}) ? 'blue-text':'yellow-link'
        comment = `
        <div class="d-flex flex-row mb-2"> <img src="${picture}" width=50 height=50 class="rounded-image">
            <div class="d-flex flex-column ml-2">
                <span class="name"><a href="#" class="yellow-link"><u>${comment.author.username}</u></a></span>
                <span class="comment-text yellow-darker-text">${comment.content}</span>
                <div class="d-flex flex-row align-items-center status yellow-text">
                    <small><a id="comment-like-button${comment.id}" href="javascript:void(0);" onclick="like_comment(${comment.id})" class="${like_color}"><i class="bi bi-hand-thumbs-up-fill"></i> Like</a></small>
                    <small class="yellow-darker-text">${comment.time_ago}</small>
                    <small>
                        <a id="comment-like-count${comment.id}"class="yellow-link" onclick="openLikeShareModal({ baseUrl: '{% url 'users:api:get_users' %}', modalType: 'comment-liked', id: '${comment.id}', username: '${comment.author.username}'})" href="javascript:void(0);">
                            ${comment.likes.length} <i class="bi bi-hand-thumbs-up-fill"></i>
                        </a>
                    </small>
                </div>
            </div>
        </div>`
        $(`#Comments${postId}`).append(comment)
    }
    function toggle_comment(postId){
        /*
            Display all the comments of a single post
        */
        if($(`#collapseComment${postId}`).is(':visible'))
            $(`#collapseComment${postId}`).collapse('hide');
        else{
            $.getJSON({
                url: `{% url 'travels:api:get_comments' %}?post-id=${postId}`,
                success: function(data){
                    $(`#Comments${postId}`).empty() // empty comments
                    for (var comment of data ){
                        add_comment(postId, comment)
                    }
                    $(`#collapseComment${postId}`).collapse('show');
                }
            })
        }

    }
    function send_comment(postId){
        /*
            Send a comment to the backend
        */
        var url = "{% url 'travels:api:add_comment' %}"
        var content = $(`#comment-input${postId}`).val().trim()
        if (content.length == 0){
            return
        }
        $.ajax({
            url: url,
            type: "POST",
            data: {
                "post-id": postId,
                "content": content
            },
            headers: {
                'X-CSRFToken': '{{csrf_token}}'
            },
            success: function(comment){
                add_comment(postId, comment)
                $(`#comment-input${postId}`).val("");
            }
        })
    }
    function like_comment(commentId){
        /*
            Same logic as the post like but with comments
        */
        var url = "{% url 'travels:api:toggle_like_comment' %}"
        $.ajax({
            url: url,
            type: 'PUT',
            data: {
                "comment-id": commentId
            },
            headers: {
                'X-CSRFToken': '{{csrf_token}}'
            },
            success: function(data){
                var like_display_obj = $(`#comment-like-count${commentId}`)
                var like_button_obj = $(`#comment-like-button${commentId}`)
                var msg = ""
                var currentLikes = parseInt(like_display_obj.prop("innerText").trim().split(" ")[0])
                if (data["like-status"] == 1){  // the user liked the post
                    msg = currentLikes + 1
                    like_button_obj.removeClass("yellow-link").addClass("blue-text")
                }else{
                    msg = currentLikes - 1
                    like_button_obj.removeClass("blue-text").addClass("yellow-link")
                }

                msg += " <i class='bi bi-hand-thumbs-up-fill'></i>"

                like_display_obj.html(msg)

            }
        })
    }
    function paginated_feed({feed_type, offset, limit, parameters=""}){
        /*
            Loads posts with offset and limit
        */
        $.getJSON({
            url: `{% url 'feeds:api:feed' %}?type=${feed_type}&offset=${offset}&limit=${limit}${parameters}`,
            success: function(data){
                for (var post of data){
                    add_post(post, true)
                }
                if (data.length > 0){
                    $(`#${post.id}postDiv`).addClass("bottomPost")  // last post gets tagged bottomPost
                }


            }
        })
    }

</script>
{% endblock %}