{% load static %}

{% comment %} adapted from https://bbbootstrap.com/snippets/bootstrap-facebook-post-template-16630772 {% endcomment %}

{% comment %}
Variables used:

-username
-location
-hashtags
-profilepicture
-map
-picturelink
-posttext
-numberofcomments
-posttime


{% endcomment %}

<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="d-flex justify-content-between p-2 px-3">
                    <div class="d-flex flex-row align-items-center"> <img src={{profilepicture}} width="50" class="rounded-circle">
                        <div class="d-flex flex-column ml-2"> 
                            <span class="yellow-darker-text">
                                <b class="yellow-text"><u>{{username}}</u></b> 
                                was in 
                                <b class="yellow-text"><u>{{location}}</u></b>
                            </span> 
                            <small class="yellow-text"><u>{{hashtags}}</u></small> 
                        </div>
                    </div>
                    <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2 yellow-darker-text">{{posttime}}</small> <i class="fa fa-ellipsis-h"></i> </div>
                </div> 
                <img class="img-fluid location" src="{% static 'img/map.png' %}">
                <img class="img-fluid post-picture" src={{picturelink}}>
                <div class="p-2">
                    <p class="text-justify yellow-darker-text">{{posttext}}</p>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center yellow-text">
                        <div class="row media-buttons d-flex align-items-center text-center">
                            <span class="col"><i class="bi bi-hand-thumbs-up-fill"></i> Like</span>
                            <span class="col"><i class="bi bi-chat-dots-fill"></i> Comment</span>
                            <span class="col"><i class="bi bi-cursor-fill"></i> Share</span>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex flex-row muted-color justify-content-end"> 
                        <span class="yellow-darker-text">{{numberofcomments}} comment{% if numberofcomments > 1 %}s{% endif %}</span>
                    </div>
                    <hr>
                    <div class="comments">
                        
                        {% include 'posts/comment.html' with username="Yousri Taous" profilepicture="https://cdn.discordapp.com/avatars/122399590031818754/80bd30fb77e05088545f3acd24af15da.png?size=1024" commenttext="mec ^^" commenttime="8 min" %}
                        
                        <div class="comment-input"> <input type="text" class="form-control">
                            <div class="fonts"> <i class="fa fa-camera"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>